In [1]:
#!pip install swifter --user
#!pip install numpy --user
#!pip install nltk --user
#!pip install sklearn --user
#!pip install arrow --user

In [4]:
# импорт библиотек
import json 
import numpy as np
import pandas as pd
import re
import string
import nltk
import csv
from nltk.corpus import stopwords 
from nltk.stem import WordNetLemmatizer
from nltk.tokenize import RegexpTokenizer 
import gc
import swifter
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.model_selection import train_test_split
import pickle 
import sys
import arrow
import numpy as np
from numpy.linalg import norm
from multiprocessing import Pool
from correct import correct_numbers

J:\Anaconda3\lib\site-packages\tqdm\autonotebook\__init__.py:14: TqdmExperimentalWarning: Using `tqdm.autonotebook.tqdm` in notebook mode. Use `tqdm.tqdm` instead to force console mode (e.g. in jupyter console)
  " (e.g. in jupyter console)", TqdmExperimentalWarning)

In [5]:
nltk.download("stopwords")
nltk.download("wordnet")

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\siowl\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\siowl\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

True

In [6]:
STOP_WORDS = stopwords.words('english')
lemmatizer = WordNetLemmatizer()
tokenizer = RegexpTokenizer(r'\w+')

In [14]:
df_business = pd.read_json('yelp_dataset/yelp_academic_dataset_business.json', lines=True)
df_business.head()

,address,attributes,business_id,categories,city,hours,is_open,latitude,longitude,name,postal_code,review_count,stars,state
0,921 Pearl St,"{'RestaurantsTableService': 'True', 'WiFi': 'u...",6iYb2HFDywm3zjuRg0shjw,"Gastropubs, Food, Beer Gardens, Restaurants, B...",Boulder,"{'Monday': '11:0-23:0', 'Tuesday': '11:0-23:0'...",1,40.017544,-105.283348,Oskar Blues Taproom,80302,86,4.0,CO
1,7000 NE Airport Way,"{'RestaurantsTakeOut': 'True', 'RestaurantsAtt...",tCbdrRPZA0oiIYSmHG3J0w,"Salad, Soup, Sandwiches, Delis, Restaurants, C...",Portland,"{'Monday': '5:0-18:0', 'Tuesday': '5:0-17:0', ...",1,45.588906,-122.593331,Flying Elephants at PDX,97218,126,4.0,OR
2,4720 Hawthorne Ave,"{'BusinessAcceptsCreditCards': 'True', 'Restau...",bvN78flM8NLprQ1a1y5dRg,"Antiques, Fashion, Used, Vintage & Consignment...",Portland,"{'Thursday': '11:0-18:0', 'Friday': '11:0-18:0...",1,45.511907,-122.613693,The Reclaimory,97214,13,4.5,OR
3,2566 Enterprise Rd,"{'RestaurantsPriceRange2': '1', 'BusinessAccep...",oaepsyvc0J17qwi8cfrOWg,"Beauty & Spas, Hair Salons",Orange City,None,1,28.914482,-81.295979,Great Clips,32763,8,3.0,FL
4,1046 Memorial Dr SE,"{'GoodForKids': 'False', 'BusinessParking': '{...",PE9uqAjdw0E4-8mjGl3wVA,"Gyms, Active Life, Interval Training Gyms, Fit...",Atlanta,"{'Monday': '16:0-19:0', 'Tuesday': '16:0-19:0'...",1,33.747027,-84.353424,Crossfit Terminus,30316,14,4.0,GA

In [15]:
#df_business = df_business.dropna() 
df_business = df_business[df_business['categories'].notna() & df_business['state'].notna()]
df_business_restaurants = df_business[df_business['categories'].str.contains('Restaurants') & df_business['state'].str.contains('CO')] 

del(df_business)
gc.collect()

df_business_restaurants = df_business_restaurants[df_business_restaurants['is_open'] == 1]
df_business_restaurants.head()

,address,attributes,business_id,categories,city,hours,is_open,latitude,longitude,name,postal_code,review_count,stars,state
0,921 Pearl St,"{'RestaurantsTableService': 'True', 'WiFi': 'u...",6iYb2HFDywm3zjuRg0shjw,"Gastropubs, Food, Beer Gardens, Restaurants, B...",Boulder,"{'Monday': '11:0-23:0', 'Tuesday': '11:0-23:0'...",1,40.017544,-105.283348,Oskar Blues Taproom,80302,86,4.0,CO
52,3255 28th Street,"{'BusinessAcceptsCreditCards': 'True', 'Restau...",Of6xu3pY3eHe2yhiyz2dvg,"Restaurants, Tex-Mex, Tacos, Fast Food, Breakf...",Boulder,"{'Monday': '7:0-0:0', 'Tuesday': '7:0-0:0', 'W...",1,40.033678,-105.259103,Taco Bell,80301,44,1.5,CO
158,"6545 Gunpark Dr, Ste 280","{'BikeParking': 'True', 'GoodForMeal': '{'dess...",_8Hejg5Q-_izIhLvq2ocnw,"Restaurants, Mexican",Boulder,"{'Monday': '11:0-20:0', 'Tuesday': '11:0-20:0'...",1,40.070694,-105.200376,Sancho's Authentic Mexican Restaurant,80301,220,4.0,CO
593,2124 14th St,"{'RestaurantsReservations': 'False', 'Business...",or-Kyw7kmNin1pWbu2RLJw,"Cajun/Creole, Restaurants, Breakfast & Brunch,...",Boulder,"{'Monday': '7:0-14:0', 'Tuesday': '7:0-14:0', ...",1,40.020092,-105.277655,Lucile's Creole Cafe,80302,628,4.0,CO
1481,1109 Walnut St,"{'RestaurantsReservations': 'False', 'Restaura...",Rbt9i4IDFiIBsau020X_xQ,"Nightlife, African, American (New), Restaurant...",Boulder,"{'Monday': '16:0-22:0', 'Tuesday': '16:0-22:0'...",1,40.017039,-105.280694,Rosetta Hall,80302,112,3.5,CO

In [16]:
print(df_business_restaurants.shape)

(497, 14)

In [20]:
keys = ["review_id", "user_id", "business_id", "stars", "text"]
with open("review_data.csv", "w",  encoding='utf-8') as fcsv:
    wr = csv.writer(fcsv)
    wr.writerow(['review_id', 'user_id', 'business_id', 'stars', 'text'])
    with open('yelp_dataset/yelp_academic_dataset_review.json', encoding='utf-8') as f:
        for line in f:
            data = json.loads(line)
            wr.writerow([data[keys[0]], data[keys[1]], data[keys[2]], data[keys[3]], data[keys[4]]])

In [21]:
def text_preprocess(text):
    text = tokenizer.tokenize(text.lower())
    text = [re.sub(r'[^a-z\s]', '', w) for w in text]
    text = [lemmatizer.lemmatize(w) for w in text if w not in STOP_WORDS]
    return ' '.join(text)

In [22]:
df_review = pd.read_csv("review_data.csv")
print(df_review.shape)
df_review.head()

(8635403, 5)

,review_id,user_id,business_id,stars,text
0,lWC-xP3rd6obsecCYsGZRg,ak0TdVmGKo4pwqdJSTLwWw,buF9druCkbuXLX526sGELQ,4.0,Apparently Prides Osteria had a rough summer a...
1,8bFej1QE5LXp4O05qjGqXA,YoVfDbnISlW0f7abNQACIg,RA4V8pr014UyUbDvI-LW2A,4.0,This store is pretty good. Not as great as Wal...
2,NDhkzczKjLshODbqDoNLSg,eC5evKn1TWDyHCyQAwguUw,_sS2LBIGNT5NQb6PD1Vtjw,5.0,I called WVM on the recommendation of a couple...
3,T5fAqjjFooT4V0OeZyuk1w,SFQ1jcnGguO0LYWnbbftAA,0AzLzHfOJgL7ROwhdww2ew,2.0,I've stayed at many Marriott and Renaissance M...
4,sjm_uUcQVxab_EeLCqsYLg,0kA0PAJ8QFMeveQWHFqz2A,8zehGz9jnxPqXtOc7KaJxA,4.0,The food is always great here. The service fro...

In [23]:
df_review = df_review[df_review['business_id'].isin(df_business_restaurants['business_id'])]
df_review["text"].fillna('', inplace=True)

In [24]:
df_review['text'] = df_review['text'].swifter.apply(text_preprocess)
df_review.shape

HBox(children=(IntProgress(value=0, description='Pandas Apply', max=68353, style=ProgressStyle(description_wid…

(68353, 5)

In [25]:
df_review.to_csv('review_data_state.csv', index=False)

In [26]:
class MatrixFactorization(object):
    
    def __init__(self, U, I, learning_rate=0.1, lamda=0.1, num_epoches=5, num_batches=100):
        self.learning_rate = learning_rate
        self.lamda = lamda 
        self.num_epoches = num_epoches  
        self.num_batches = num_batches  
        self.U = U
        self.I = I 
        self.e = 0 

    def loss(self, ratings):
        errors = [(rat_ij - np.dot(self.U[i], self.I[j].T))**2 + self.lamda * \
              (norm(self.U[i]) + norm(self.I[j])) for i, j, rat_ij in ratings]
        return sum(errors)

    def update(self, ratings):
        for i, j, rat_ij in ratings:
            rat_ij_hat = np.dot(self.U[i], self.I[j].T)
            grad_U_i = (rat_ij_hat - rat_ij) * self.I[j] + self.lamda * self.U[i]
            grad_I_j = (rat_ij_hat - rat_ij) * self.U[i] + self.lamda * self.I[j]
            self.U[i] -= self.learning_rate * grad_U_i
            self.I[j] -= self.learning_rate * grad_I_j
    
    def fit(self, train, test):
        num_trains = train.shape[0] 
        num_tests  = test.shape[0] 
        while self.e < self.num_epoches:
            self.e += 1
            mixed_order = np.arange(num_trains)
            np.random.shuffle(mixed_order)
            avg_train_loss = [] 
            avg_test_loss  = [] 
            batch_size = int(num_trains / self.num_batches) 
            for batch in range(self.num_batches):
                batch_indexes = np.arange(batch_size * batch, batch_size * (batch + 1))             
                current_batch_ratings = train[mixed_order[batch_indexes], :]
                sample_test = test[np.random.choice(num_tests, batch_size), :]
                self.update(current_batch_ratings)
                train_loss = self.loss(current_batch_ratings)
                test_loss  = self.loss(sample_test)
                avg_train_loss.append(train_loss)
                avg_test_loss.append(test_loss)
            
            avg_train_loss = np.mean(avg_train_loss) / float(batch_size) 
            avg_test_loss  = np.mean(avg_test_loss) / float(batch_size)
            print(f'{arrow.now()} Epoch № {self.e}', file=sys.stderr)
            print(f'{arrow.now()} Training loss:\t{avg_train_loss}', file=sys.stderr)
            print(f'{arrow.now()} Testing loss:\t{avg_test_loss}', file=sys.stderr)

In [27]:
df_review = pd.read_csv("review_data_state.csv")
df_review["text"].fillna('', inplace=True)
print(df_review.head())
df_review = df_review[['user_id', 'business_id', 'stars', 'text']]
dict_users = {key: val for val, key in enumerate(df_review['user_id'].unique())}
inv_dict_users = {val: key for key, val in dict_users.items()}
dict_items = {key: val for val, key in enumerate(df_review['business_id'].unique())}
inv_dict_items = {val: key for key, val in dict_items.items()}
    
df_review['user_id'] = df_review['user_id'].swifter.apply(lambda x: dict_users[x])
df_review['business_id'] = df_review['business_id'].swifter.apply(lambda x: dict_items[x])
    
train_ratings_df, test_ratings_df = train_test_split(df_review, test_size = 0.2)

print(f'Size of training data: {train_ratings_df.shape}')
print(f'Size of test data: {test_ratings_df.shape}')

                review_id                 user_id             business_id  \
0  tanL1f9UuVPE2veDDHAL-w  h_kjYBpubAmYVxvNaID7Lw  i9BDFBYcl_PGqrLbQUdMvg
1  zDlr3bWWZRUJ-0JGBXZwAw  kP92EoMqvHJVnoSaPXtShg  5P3b82EqZqR7lCqAYj-zaQ
2  fVyVgYYbFsxV5XP1a-YwcQ  Kkxi0nhaXi16TgFd7olCFQ  KRNrssbpE1AKo-48BIpdLw
3  s3RbFgeaWisnyIBZanlpIw  4gCXQdAi0Rbt4QTLc7Xz9w  8IhF8Vvnr3Nz-b3GR11M6A
4  k9vlSSUStwY2DcjM8Rinnw  7C8RwnXqNhj6mYxowI53sA  Of6xu3pY3eHe2yhiyz2dvg

   stars                                               text
0    4.0  excellent sub reasonable price huge variety pi...
1    4.0  great quick service despite fact every table f...
2    4.0  place really good service fast efficient peopl...
3    4.0  great staff wonderful service wine list top no...
4    4.0  literally thing anything order right gave enou...

HBox(children=(IntProgress(value=0, description='Pandas Apply', max=68353, style=ProgressStyle(description_wid…

HBox(children=(IntProgress(value=0, description='Pandas Apply', max=68353, style=ProgressStyle(description_wid…

Size of training data: (54682, 4)
Size of test data: (13671, 4)

In [28]:
def get_train_whole_text(df, name_id):
    return df[[name_id,'text']].groupby(name_id).agg({'text': ' '.join})
    
    
user_id_review_df = pd.DataFrame(index=inv_dict_users.keys(), columns=["text"])
user_id_review_df.index.name = 'user_id'
business_id_review_df= pd.DataFrame(index=inv_dict_items.keys(), columns=["text"])
business_id_review_df.index.name = 'business_id'

user_id_review_df['text'] =  get_train_whole_text(train_ratings_df, 'user_id')["text"]
business_id_review_df['text'] =  get_train_whole_text(train_ratings_df, 'business_id')["text"]
user_id_review_df["text"].fillna('', inplace=True)
business_id_review_df["text"].fillna('', inplace=True)

In [31]:
business_id_vectorizer = TfidfVectorizer(tokenizer = tokenizer.tokenize, max_features=5000)
business_id_vectors = business_id_vectorizer.fit_transform(business_id_review_df['text'])

user_id_vectorizer = TfidfVectorizer(tokenizer = tokenizer.tokenize, max_features=5000)
user_id_vectors = user_id_vectorizer.fit_transform(user_id_review_df['text'])

U = pd.DataFrame(user_id_vectors.toarray(), index=user_id_review_df.index, columns=user_id_vectorizer.get_feature_names())
U.sort_index(inplace=True)
I = pd.DataFrame(business_id_vectors.toarray(), index=business_id_review_df.index, columns=business_id_vectorizer.get_feature_names())
I.sort_index(inplace=True)

matrixF = MatrixFactorization(U = U.values, I = I.values, learning_rate=0.07, lamda=0.1, num_epoches=8, num_batches=1000)

In [32]:
R = pd.pivot_table(df_review, values='stars', index=['user_id'], columns=['business_id'])
R.head()

business_id,0,1,2,3,4,5,6,7,8,9,...,487,488,489,490,491,492,493,494,495,496
user_id,,,,,,,,,,,,,,,,,,,,,
0,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,4.0,4.0,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,4.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,4.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [34]:
matrixF.fit(train_ratings_df.values[:, 0:3], test_ratings_df.values[:, 0:3])

2021-09-08T01:10:48.966577-07:00 Epoch № 1
2021-09-08T01:10:48.978577-07:00 Training loss:	2.708472173452243
2021-09-08T01:10:48.980579-07:00 Testing loss:	11.042344948179174
2021-09-08T01:10:52.851577-07:00 Epoch № 2
2021-09-08T01:10:52.852579-07:00 Training loss:	0.5473154930797792
2021-09-08T01:10:52.852579-07:00 Testing loss:	9.208049576893792
2021-09-08T01:10:56.780587-07:00 Epoch № 3
2021-09-08T01:10:56.781587-07:00 Training loss:	0.5037503769448762
2021-09-08T01:10:56.782587-07:00 Testing loss:	9.091342024558932
2021-09-08T01:11:00.707610-07:00 Epoch № 4
2021-09-08T01:11:00.708609-07:00 Training loss:	0.49377015857254897
2021-09-08T01:11:00.709610-07:00 Testing loss:	8.90368169561439
2021-09-08T01:11:04.711850-07:00 Epoch № 5
2021-09-08T01:11:04.712850-07:00 Training loss:	0.48772085793321657
2021-09-08T01:11:04.713850-07:00 Testing loss:	9.05619238613045
2021-09-08T01:11:08.776963-07:00 Epoch № 6
2021-09-08T01:11:08.777964-07:00 Training loss:	0.4835910229819247
2021-09-08T01:11:08.778974-07:00 Testing loss:	8.97447107680333
2021-09-08T01:11:12.774787-07:00 Epoch № 7
2021-09-08T01:11:12.775787-07:00 Training loss:	0.4800517523173984
2021-09-08T01:11:12.776786-07:00 Testing loss:	9.008884308097263
2021-09-08T01:11:16.804787-07:00 Epoch № 8
2021-09-08T01:11:16.806792-07:00 Training loss:	0.477568871833814
2021-09-08T01:11:16.807791-07:00 Testing loss:	8.989944725641001

In [35]:
U = pd.DataFrame(matrixF.U, index=user_id_review_df.index, columns=user_id_vectorizer.get_feature_names())
U.sort_index(inplace=True)
I = pd.DataFrame(matrixF.I, index=business_id_review_df.index, columns=business_id_vectorizer.get_feature_names())
I.sort_index(inplace=True)

In [36]:
if __name__ == '__main__':
    R = np.dot(matrixF.U, matrixF.I.T)
    with Pool(processes = 10) as pool:
        R = np.array(pool.map(correct_numbers, R))

In [37]:
R = pd.DataFrame(R, index=U.index, columns=I.index)

In [38]:
print(f"Predicted ratings:\n")
R.head()

Predicted ratings:

business_id,0,1,2,3,4,5,6,7,8,9,...,487,488,489,490,491,492,493,494,495,496
user_id,,,,,,,,,,,,,,,,,,,,,
0,3.0,4.0,3.0,3.0,1.0,3.0,3.0,3.0,3.0,3.0,...,4.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,4.0
1,3.0,4.0,3.0,3.0,2.0,4.0,3.0,2.0,3.0,3.0,...,5.0,4.0,4.0,3.0,3.0,3.0,3.0,3.0,3.0,4.0
2,3.0,4.0,2.0,3.0,1.0,3.0,3.0,3.0,2.0,3.0,...,3.0,4.0,3.0,3.0,2.0,2.0,2.0,2.0,3.0,3.0
3,2.0,3.0,2.0,4.0,1.0,2.0,2.0,2.0,2.0,2.0,...,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [39]:
I.iloc[train_ratings_df.iat[0, 1]].sort_values(ascending=False).head(10)

chicken      1.047385
fried        0.636507
good         0.418436
place        0.397927
food         0.377281
gluten       0.369265
really       0.366488
side         0.335338
delicious    0.333114
great        0.327097
Name: 169, dtype: float64

In [40]:
U.iloc[train_ratings_df.iat[0, 0]].sort_values(ascending=False).head(10)

chinese       0.815604
food          0.433050
dish          0.290703
spice         0.277788
five          0.253621
restaurant    0.244249
order         0.241854
authentic     0.228221
sesame        0.213176
spoken        0.209295
Name: 14187, dtype: float64

In [41]:
data = {'U': U, 'I': I, 'V': user_id_vectorizer}

with open('recommendation_model.pkl', 'wb') as f:
     pickle.dump(data, f)

In [42]:
R.to_csv('predicted_ratings.csv', sep='\t')

In [43]:
with open('recommendation_model.pkl', 'rb') as f:
     model = pickle.load(f)
print(model)

{'U':               ability      able       abo  absolute  absolutely    absurd  \
user_id
0        1.352703e-04  0.018624  0.000381  0.007396    0.196555  0.001651
1       -3.296113e-03  0.019340  0.022321 -0.000672    0.032348  0.000403
2        1.694067e-03  0.009752  0.000251  0.003612    0.021944  0.003076
3        2.540132e-03  0.023896 -0.003115 -0.000056    0.019124  0.001276
4        0.000000e+00  0.000000  0.000000  0.000000    0.000000  0.000000
5        6.241953e-05  0.008994 -0.000328  0.002478    0.019066 -0.000051
6        3.645860e-03  0.040025  0.000380  0.005351    0.060570 -0.000566
7       -3.451459e-03  0.009495  0.003776 -0.017376    0.021638 -0.002738
8        2.660729e-03  0.009377  0.004886  0.018929    0.048587 -0.000350
9       -3.610939e-04  0.003180  0.008109 -0.001799    0.037809  0.003941
10       2.075616e-02  0.007557  0.001352  0.007168    0.080063 -0.000238
11       8.382755e-04  0.007160  0.000406 -0.001634    0.009745 -0.000139
12       4.210972e-06  0.007175  0.006794  0.015704    0.008611  0.003344
13       2.224798e-03  0.010674 -0.005415  0.021492    0.055546  0.002601
14       8.160460e-04  0.011332  0.000838  0.006107    0.015627  0.000882
15       6.207314e-03  0.013554 -0.001059  0.011914    0.045031 -0.000044
16       0.000000e+00  0.000000  0.000000  0.000000    0.000000  0.000000
17      -2.896679e-03  0.028677  0.005072  0.013136    0.036669 -0.001548
18       5.817625e-04  0.001793  0.011518  0.006180    0.021268  0.000288
19       1.964349e-03  0.020300  0.000958 -0.003745    0.009825 -0.001662
20       2.409647e-04  0.001324 -0.000123 -0.000356    0.000831 -0.000045
21       5.923305e-04  0.015478 -0.000515  0.031208    0.157996  0.001556
22      -1.615767e-03  0.019640 -0.004380  0.015299    0.047385 -0.005536
23       0.000000e+00  0.000000  0.000000  0.000000    0.000000  0.000000
24      -7.810695e-04  0.018250  0.013543  0.008886    0.045861  0.000212
25       1.905201e-03  0.019777  0.001523  0.006032    0.024366  0.001226
26       7.993878e-03  0.038191  0.000926 -0.002970    0.056186  0.000571
27       4.526878e-04  0.002523  0.006527  0.004687    0.015002  0.000166
28       9.592597e-04  0.028987 -0.011581  0.019125    0.067843  0.002068
29       3.007915e-04  0.013602  0.008073  0.008933    0.034816  0.000097
...               ...       ...       ...       ...         ...       ...
35647    0.000000e+00  0.000000  0.000000  0.000000    0.000000  0.000000
35648    6.606005e-03  0.012736 -0.000481  0.001611    0.012836  0.000649
35649    2.509986e-03  0.003913  0.000152  0.014841    0.034319  0.000809
35650    0.000000e+00  0.000000  0.000000  0.000000    0.000000  0.000000
35651   -9.491444e-05  0.010051 -0.000317 -0.000875    0.020701 -0.000547
35652    0.000000e+00  0.000000  0.000000  0.000000    0.000000  0.000000
35653    2.620038e-04  0.009462  0.006793  0.005690    0.030829  0.001446
35654    4.139667e-03  0.188824 -0.000207  0.004207    0.008315  0.000604
35655    4.001650e-05  0.000855  0.000677  0.000682    0.002660  0.000103
35656    2.226701e-03  0.022749 -0.004341  0.005275    0.034632  0.000435
35657    1.757119e-04  0.008167  0.000519  0.007453    0.015264 -0.000053
35658    8.629307e-05  0.014150  0.000120  0.019241    0.020210 -0.000039
35659    1.691671e-04  0.000226 -0.000902  0.000843    0.006439  0.000044
35660    2.475665e-04  0.004690  0.000550  0.006239    0.047407  0.000023
35661   -5.887694e-05  0.013321 -0.001077  0.003612    0.013276  0.000032
35662    0.000000e+00  0.000000  0.000000  0.000000    0.000000  0.000000
35663    1.354221e-07  0.007021  0.000091  0.010540    0.023149 -0.000624
35664    0.000000e+00  0.000000  0.000000  0.000000    0.000000  0.000000
35665    1.754818e-04  0.008312  0.000709 -0.000490    0.030684  0.000464
35666    2.847134e-04  0.004807  0.000097  0.001640    0.038686  0.000792
35667    0.000000e+00  0.000000  0.000000  0.000000    0.000000  0.000000
35668    5.374429e-04  0.026131  0.004175 -0.000123    0.006868  0.000483
35669    1.589221e-05  0.011185  0.000425  0.015520    0.020653  0.000060
35670    1.076650e-04  0.007280  0.002638  0.003608    0.017365  0.000714
35671    2.335469e-03  0.193673 -0.000684  0.001050    0.020458  0.000086
35672   -2.503516e-04  0.000103 -0.000055  0.000080    0.000752 -0.000029
35673    6.011098e-05  0.019913  0.001956  0.015666    0.016961  0.000195
35674    6.655080e-04  0.013838  0.000093 -0.001175    0.008519 -0.000042
35675    7.708288e-05  0.008032  0.000394  0.000323    0.046804  0.013018
35676    3.086924e-03  0.039413 -0.000034  0.002270    0.017770  0.000310

         abundance  abundant       abv   abysmal    ...        yummy  \
user_id                                             ...
0         0.000088  0.000458  0.001460  0.011363    ...     0.047386
1         0.002965  0.001363  0.003303 -0.003599    ...     0.065668
2        -0.000325  0.000343  0.000170 -0.000447    ...     0.007350
3         0.000108  0.000392  0.000256  0.000791    ...     0.006489
4         0.000000  0.000000  0.000000  0.000000    ...     0.000000
5         0.000307  0.000139  0.000351 -0.000052    ...     0.002728
6         0.000197  0.001486  0.000926  0.001261    ...     0.052511
7        -0.000901  0.001376  0.003049  0.002269    ...     0.076375
8         0.001226  0.008757 -0.000603 -0.000955    ...     0.036463
9         0.001219  0.002575  0.004817  0.000986    ...     0.080726
10       -0.000057  0.000469  0.000421  0.000152    ...     0.084581
11       -0.000530  0.001004  0.001188  0.000055    ...     0.014622
12       -0.002666  0.000141  0.005598  0.010569    ...     0.037099
13        0.000480  0.004238  0.000485  0.005230    ...     0.058906
14        0.000592  0.000157  0.000961 -0.000078    ...     0.035672
15        0.000079 -0.000244  0.001248  0.003556    ...     0.072797
16        0.000000  0.000000  0.000000  0.000000    ...     0.000000
17       -0.000571  0.001668  0.008330  0.000214    ...     0.052425
18       -0.000084  0.013621 -0.002057  0.018477    ...     0.018771
19        0.003127 -0.003156 -0.000146 -0.000943    ...     0.062967
20       -0.000211  0.000066  0.000131  0.000011    ...     0.003979
21       -0.000971  0.000600 -0.000029  0.000202    ...     0.053218
22        0.000719  0.004350  0.004751  0.005134    ...     0.056933
23        0.000000  0.000000  0.000000  0.000000    ...     0.000000
24        0.001498  0.000035 -0.000735 -0.000164    ...     0.045602
25        0.000147 -0.000112  0.000306 -0.000510    ...     0.028802
26       -0.000387 -0.002295 -0.001279  0.001629    ...     0.049531
27        0.000034  0.007959 -0.001340  0.010466    ...     0.014699
28        0.002420  0.008352 -0.000410  0.004656    ...     0.074123
29        0.000279 -0.000610 -0.000968  0.000127    ...     0.019164
...            ...       ...       ...       ...    ...          ...
35647     0.000000  0.000000  0.000000  0.000000    ...     0.000000
35648     0.000343  0.003332  0.000306  0.000049    ...     0.021716
35649     0.000142  0.000067  0.000071  0.000116    ...     0.005616
35650     0.000000  0.000000  0.000000  0.000000    ...     0.000000
35651    -0.000629  0.000318  0.000816 -0.000613    ...     0.050116
35652     0.000000  0.000000  0.000000  0.000000    ...     0.000000
35653    -0.000193 -0.000020  0.000679 -0.000023    ...     0.025570
35654    -0.000062  0.003392 -0.000504  0.000463    ...     0.030630
35655    -0.000007 -0.000061  0.000085  0.000025    ...     0.002388
35656     0.000643  0.013273  0.001476  0.000800    ...     0.018897
35657    -0.000547 -0.001692  0.001121  0.000768    ...     0.013277
35658     0.000127  0.014990  0.000013  0.001670    ...     0.015904
35659     0.000082  0.000859 -0.000079  0.000282    ...     0.002541
35660    -0.000065  0.000770  0.000223  0.000123    ...     0.047790
35661    -0.000003 -0.000001  0.016583  0.008983    ...     0.004642
35662     0.000000  0.000000  0.000000  0.000000    ...     0.000000
35663     0.000026 -0.000029  0.000495 -0.000014    ...     0.016959
35664     0.000000  0.000000  0.000000  0.000000    ...     0.000000
35665    -0.000079  0.000676  0.000196 -0.001119    ...     0.044549
35666     0.000010  0.000428  0.000041  0.000996    ...     0.072423
35667     0.000000  0.000000  0.000000  0.000000    ...     0.000000
35668    -0.000014  0.000212  0.003414  0.000189    ...     0.027016
35669    -0.000017  0.000349  0.000141 -0.000106    ...     0.011808
35670    -0.000002 -0.000083  0.000926  0.000030    ...     0.014025
35671    -0.000556  0.013939 -0.000716  0.000447    ...     0.025447
35672    -0.000011  0.000055  0.000033 -0.000020    ...     0.000221
35673     0.000080  0.000231  0.000587 -0.007661    ...     0.069078
35674    -0.000154  0.003486 -0.000422  0.000035    ...     0.007349
35675     0.000164  0.000197  0.000171 -0.000078    ...     0.047906
35676    -0.000170  0.023248 -0.000602  0.000141    ...     0.036428

               yuppie         z        za    zanmai      zero       zoe  \
user_id
0        7.107669e-05  0.000069 -0.000153 -0.000453  0.017607  0.000683
1       -1.831348e-03  0.002330  0.011176  0.006906  0.010393 -0.000566
2        6.556769e-03 -0.000043 -0.002352  0.000511  0.013472 -0.001798
3        2.599983e-03  0.000315 -0.000767  0.001736  0.000372 -0.002965
4        0.000000e+00  0.000000  0.000000  0.000000  0.000000  0.000000
5        4.946532e-05  0.000013  0.000401 -0.000150  0.002080  0.000443
6        1.303142e-03 -0.000841  0.010863 -0.000631 -0.001246  0.005043
7        1.069911e-04  0.001047  0.002379  0.009558  0.006238  0.007085
8        2.005601e-03 -0.000190  0.001265  0.008977  0.003465  0.011488
9       -2.079059e-03  0.001615  0.013414  0.001985  0.010077  0.022132
10       5.252737e-04 -0.001120  0.001959  0.009891  0.000019  0.002436
11       8.986390e-05  0.000322 -0.000420  0.000271  0.000351 -0.001138
12       2.138777e-03  0.012142  0.012115  0.002265 -0.003955  0.037424
13      -2.326444e-04  0.001666 -0.003551  0.000489 -0.003957  0.008250
14       1.517020e-03  0.001291  0.004495  0.003408  0.001568  0.004267
15       1.982323e-03  0.000435  0.003900  0.013547 -0.000817  0.004097
16       0.000000e+00  0.000000  0.000000  0.000000  0.000000  0.000000
17       1.155779e-03 -0.000239  0.003351  0.002943  0.001756 -0.003853
18       2.010424e-04  0.000113  0.001044  0.002353  0.001702  0.000328
19       8.506645e-04  0.037689  0.004996 -0.001876  0.004170  0.001105
20      -1.604993e-07  0.000054 -0.000146  0.000011  0.000006 -0.000323
21      -7.456435e-05  0.000388 -0.000607  0.002061  0.008336 -0.000487
22       1.231112e-03 -0.005428  0.000663 -0.003717  0.000204  0.010075
23       0.000000e+00  0.000000  0.000000  0.000000  0.000000  0.000000
24      -6.400299e-04  0.000374  0.000047  0.000407  0.000148  0.002425
25       7.326599e-03 -0.000497  0.002096  0.001030  0.000209  0.000666
26       3.307712e-03  0.009425 -0.000689  0.067830 -0.007269  0.049169
27       8.122995e-05  0.000205  0.000733  0.001732  0.001719  0.000205
28      -6.692262e-04  0.001303 -0.007807 -0.006831 -0.008399  0.004346
29       2.299820e-04  0.000760 -0.002804  0.017773  0.004007 -0.001726
...               ...       ...       ...       ...       ...       ...
35647    0.000000e+00  0.000000  0.000000  0.000000  0.000000  0.000000
35648    2.533408e-03 -0.003885  0.000030  0.001276  0.008786  0.004033
35649   -8.476167e-05  0.001537  0.001335  0.000303  0.001767  0.016110
35650    0.000000e+00  0.000000  0.000000  0.000000  0.000000  0.000000
35651   -9.395652e-04  0.001210  0.000033 -0.000723  0.008299  0.001080
35652    0.000000e+00  0.000000  0.000000  0.000000  0.000000  0.000000
35653    2.663368e-04  0.000152  0.003777  0.001069  0.011751  0.003444
35654    4.587426e-04 -0.000616 -0.000074 -0.001325 -0.000666  0.001141
35655    4.610911e-05 -0.000027  0.000183  0.000083  0.000966  0.000309
35656    2.937520e-03 -0.000608 -0.003118  0.005919  0.001586 -0.002876
35657    4.380954e-04  0.000033 -0.005003  0.003315  0.004793 -0.009626
35658    7.694147e-05  0.000027  0.001451  0.001465  0.000233  0.008323
35659    1.773886e-04  0.005360  0.002051  0.002567  0.001389  0.001983
35660    9.601251e-03  0.000980 -0.001452  0.001135  0.000675 -0.001739
35661   -2.025541e-05  0.001265 -0.000205 -0.000916 -0.000153  0.000270
35662    0.000000e+00  0.000000  0.000000  0.000000  0.000000  0.000000
35663   -1.365158e-04  0.000206  0.001424  0.001661 -0.002459  0.000384
35664    0.000000e+00  0.000000  0.000000  0.000000  0.000000  0.000000
35665    3.627823e-05 -0.000588  0.002269 -0.000164  0.001705  0.004123
35666   -1.080649e-04  0.000209  0.000383  0.000229  0.033713  0.000622
35667    0.000000e+00  0.000000  0.000000  0.000000  0.000000  0.000000
35668   -1.091849e-04 -0.000066  0.001080 -0.000781  0.003834  0.002353
35669    1.156690e-04 -0.000185  0.000147  0.000074  0.000146  0.000262
35670    1.531164e-04  0.000046  0.001986  0.000665  0.005649  0.001805
35671    2.929279e-04 -0.000677 -0.003383 -0.001214  0.000121 -0.001995
35672   -1.683009e-05  0.000201 -0.000105  0.000306 -0.000133 -0.000078
35673    4.599152e-03  0.002266  0.001017  0.000330  0.001534  0.000170
35674   -1.078150e-04 -0.000741 -0.000313 -0.001988  0.125685  0.000229
35675    4.913196e-05 -0.000189 -0.000150  0.000026 -0.000162 -0.000053
35676    1.109909e-04 -0.000973 -0.001099 -0.001448 -0.000200  0.001955

             zone     zucca  zucchini
user_id
0       -0.001656  0.000689 -0.000242
1        0.014126  0.022223  0.023271
2        0.000324  0.005614  0.002056
3        0.000004 -0.001917  0.000498
4        0.000000  0.000000  0.000000
5        0.000137 -0.002805  0.000447
6       -0.001864  0.000024  0.001716
7        0.005159  0.006459  0.001828
8        0.001423 -0.004774  0.015366
9        0.002267  0.016324  0.012785
10      -0.000681  0.001321  0.002483
11      -0.000144 -0.000631 -0.000930
12       0.010823 -0.043880 -0.003880
13       0.000494  0.004442  0.002399
14       0.001100 -0.004821  0.003881
15      -0.002756 -0.000112  0.004140
16       0.000000  0.000000  0.000000
17       0.005027  0.017595 -0.006484
18      -0.000147  0.000521 -0.000198
19      -0.000602 -0.000864  0.002978
20      -0.000121 -0.000088 -0.000243
21       0.000094  0.000339  0.002230
22       0.003262  0.116258  0.004496
23       0.000000  0.000000  0.000000
24      -0.000497 -0.000703 -0.000486
25       0.000437 -0.000222  0.001430
26      -0.004600 -0.000035  0.014876
27      -0.000070  0.000338 -0.000087
28      -0.001557  0.009403  0.001900
29       0.000555  0.000480  0.000161
...           ...       ...       ...
35647    0.000000  0.000000  0.000000
35648   -0.003058 -0.000236  0.001024
35649    0.000418  0.001699  0.006377
35650    0.000000  0.000000  0.000000
35651   -0.003627 -0.000491  0.001387
35652    0.000000  0.000000  0.000000
35653    0.000534  0.000071  0.004916
35654    0.003566  0.001785  0.000974
35655    0.000013 -0.000073  0.000725
35656    0.000210 -0.016457 -0.000246
35657   -0.000031 -0.000174  0.003143
35658    0.001194  0.001106  0.001218
35659    0.007785  0.000121  0.000016
35660    0.000799  0.005683  0.000385
35661   -0.000090  0.000526  0.001606
35662    0.000000  0.000000  0.000000
35663    0.002526  0.008491  0.001417
35664    0.000000  0.000000  0.000000
35665    0.003113 -0.000268  0.001918
35666   -0.000042  0.001047  0.000679
35667    0.000000  0.000000  0.000000
35668   -0.000055  0.000310  0.003221
35669   -0.000024 -0.011116  0.000305
35670    0.001713  0.000497  0.002388
35671    0.003007  0.001993 -0.001274
35672    0.000096  0.000152 -0.000040
35673    0.001152 -0.000236  0.013670
35674    0.001253  0.000452 -0.000492
35675   -0.000367  0.000240  0.000308
35676    0.003973  0.001835  0.000449

[35677 rows x 5000 columns], 'I':               ability      able       abo  absolute  absolutely    absurd  \
business_id
0            0.013067  0.027659  0.018411  0.014719    0.046497  0.006003
1            0.001452  0.053608  0.007673  0.033963    0.083021 -0.000417
2            0.002207  0.015050 -0.004573 -0.011260    0.005242 -0.001003
3            0.008697  0.063860 -0.008243  0.000692    0.034211  0.002728
4            0.019012  0.017115  0.002696  0.012014   -0.017996  0.000490
5            0.013377  0.031126 -0.003490  0.014555    0.096583 -0.000410
6            0.001579  0.063113 -0.005012  0.004869    0.088188 -0.004961
7            0.005342  0.018657 -0.006656  0.038780    0.093746  0.003905
8           -0.000962  0.011766 -0.003451  0.019582    0.025020  0.001027
9            0.016487  0.040005 -0.021263  0.038746    0.052949 -0.002749
10           0.001145  0.023521 -0.002160  0.058262    0.098294  0.005570
11           0.000660  0.017630  0.023809  0.012027    0.062259  0.006058
12          -0.003278  0.040800  0.022223  0.009985    0.061594  0.000367
13           0.001866  0.023403  0.002954  0.006925    0.027675  0.000309
14           0.001558  0.003269  0.015281  0.012917    0.037082  0.000895
15           0.000364  0.038262 -0.007044  0.002246    0.001520  0.000335
16           0.000516  0.026428  0.005700  0.004437    0.015926  0.001889
17           0.029688  0.062474 -0.008631  0.028122    0.078461 -0.001160
18           0.001107  0.015304  0.007015  0.006618    0.060650  0.000095
19           0.003727  0.056418  0.006007  0.011269    0.051522  0.003776
20          -0.001639  0.044491 -0.004032  0.020330    0.051664 -0.001105
21           0.000993 -0.006351  0.003027 -0.005346    0.041124  0.002716
22           0.000920  0.023661 -0.000147  0.007118    0.108400  0.001024
23           0.000318 -0.002712 -0.002355  0.157882    0.020168 -0.001178
24           0.003195  0.017123 -0.000404  0.008910    0.030265 -0.001629
25           0.004005  0.032067  0.006275 -0.000153    0.056246 -0.000453
26           0.001633  0.020891  0.001194  0.019294    0.021693 -0.000149
27           0.000691  0.016068 -0.024051  0.016902   -0.011207  0.000481
28           0.000099  0.002672 -0.007146 -0.005812   -0.003635  0.000922
29           0.000069  0.013515  0.008439  0.010414    0.106340 -0.000592
...               ...       ...       ...       ...         ...       ...
467         -0.001056  0.021096  0.001649  0.008394    0.018931  0.001603
468          0.000768  0.032969  0.001381  0.005545    0.020808  0.001871
469         -0.000597  0.021227 -0.005302  0.002354    0.010402 -0.000816
470         -0.010125 -0.001420 -0.002398  0.003644    0.015648 -0.001259
471         -0.002393  0.033281  0.053551 -0.000581   -0.035967 -0.000261
472         -0.000714  0.020095 -0.007894 -0.003067    0.047136  0.001710
473          0.000284  0.028553  0.000289  0.020888    0.144488 -0.002171
474         -0.001693  0.039596  0.031115  0.008354    0.062850 -0.000675
475         -0.001127  0.013698 -0.004946  0.012181    0.035513 -0.000113
476         -0.000208  0.000133 -0.001845 -0.001024    0.028860 -0.001293
477          0.014212  0.021639 -0.003112  0.003965    0.023032  0.002374
478          0.000873  0.021610  0.002580  0.003576    0.115834  0.025518
479         -0.002360  0.014594  0.003287 -0.002476    0.037249  0.000398
480          0.002598  0.012407  0.002388  0.003333    0.113391  0.001395
481          0.001371  0.028778  0.000098 -0.002324    0.048392 -0.002647
482         -0.000521  0.052942  0.002083 -0.004170    0.014095 -0.001004
483         -0.000719  0.016594  0.031885  0.024387    0.018932 -0.001435
484          0.025386  0.005362 -0.017273  0.001117    0.017548  0.003139
485         -0.004879  0.005940 -0.004459  0.006326    0.017956  0.002121
486         -0.000135  0.018256  0.000783 -0.004236    0.039553 -0.000598
487          0.001138  0.011116  0.000243  0.010864    0.049921  0.000074
488         -0.000173  0.059338  0.000519  0.000249    0.013974  0.000359
489          0.000770  0.010364  0.000329  0.004709    0.092468  0.001629
490          0.000104  0.017160  0.002712 -0.002980    0.078162  0.001914

        use_idf=True, vocabulary=None)}

In [44]:
I = model["I"]
U = model["U"]
user_id_vectorizer = model["V"]

In [45]:
R = pd.read_csv('predicted_ratings.csv', sep='\t')
R.head()

,user_id,0,1,2,3,4,5,6,7,8,...,487,488,489,490,491,492,493,494,495,496
0,0,3.0,4.0,3.0,3.0,1.0,3.0,3.0,3.0,3.0,...,4.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,4.0
1,1,3.0,4.0,3.0,3.0,2.0,4.0,3.0,2.0,3.0,...,5.0,4.0,4.0,3.0,3.0,3.0,3.0,3.0,3.0,4.0
2,2,3.0,4.0,2.0,3.0,1.0,3.0,3.0,3.0,2.0,...,3.0,4.0,3.0,3.0,2.0,2.0,2.0,2.0,3.0,3.0
3,3,2.0,3.0,2.0,4.0,1.0,2.0,2.0,2.0,2.0,...,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0
4,4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [46]:
words = input("What place are you looking for? ")

query = pd.DataFrame([text_preprocess(words)], columns=['text']) 
query_vector = user_id_vectorizer.transform(query['text']) 
query = pd.DataFrame(query_vector.toarray(), index=query.index, columns=user_id_vectorizer.get_feature_names())

predictRating=pd.DataFrame(np.dot(query.loc[0],I.T), index=I.index, columns=['rating'])
topRecommendations=pd.DataFrame.sort_values(predictRating,['rating'],ascending=[0])[:5]

number = 0
for i in topRecommendations.index:
    number+=1
    print(f"\n№ {number}")
    print(f"Name: {df_business_restaurants[df_business_restaurants['business_id']==inv_dict_items[i]]['name'].iloc[0]}")
    print(f"City, state: {df_business_restaurants[df_business_restaurants['business_id']==inv_dict_items[i]]['city'].iloc[0]}, {df_business_restaurants[df_business_restaurants['business_id']==inv_dict_items[i]]['state'].iloc[0]}")
    print(f"Category: {df_business_restaurants[df_business_restaurants['business_id']==inv_dict_items[i]]['categories'].iloc[0]}")
    print(f"Average star: {df_business_restaurants[df_business_restaurants['business_id']==inv_dict_items[i]]['stars'].iloc[0]}")
    print(f"Review count: {df_business_restaurants[df_business_restaurants['business_id']==inv_dict_items[i]]['review_count'].iloc[0]}")

What place are you looking for? Chinese food

№ 1
Name: Five Spice Asian Cuisine
City, state: Boulder, CO
Category: Restaurants, Vegetarian, Thai, Chinese
Average star: 2.5
Review count: 116

№ 2
Name: Haoway Chinese Cafe
City, state: Boulder, CO
Category: Chinese, Restaurants
Average star: 3.5
Review count: 85

№ 3
Name: Golden Sun
City, state: Boulder, CO
Category: Restaurants, Chinese
Average star: 2.5
Review count: 138

№ 4
Name: Spice China
City, state: Louisville, CO
Category: Restaurants, Chinese
Average star: 3.0
Review count: 187

№ 5
Name: China Gourmet
City, state: Boulder, CO
Category: Restaurants, Chinese
Average star: 4.0
Review count: 129